@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Cabin&family=Lobster&family=Merriweather:ital@1&display=swap');
/****start statistic*****/
*{
    padding: 0;
    margin: 0;
}
.statistic {
    background-image: url(../images/pngtree-technical-abstract-technology-background-with-geometric-shape-image_430549.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

    

    

}
.statistic .content {
    
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    color: white;
    padding-top: 100px;
    
    
}
.content .row {
    font-size: 25px;
    padding-left: 20px;
    font-weight: 200;
    width: 100%;
}


/****end statistic*****/
.template {
    background-color: white;
    padding-top: 30px;
    display: inline-flexbox;
    margin-bottom: 30px;
    text-align: center;
    
    

}


/****start *****/ 

.features {
    background-image: url(../images/360_F_288803822_0CJ8L3gr6w6nGnUeje6pCllCX7s986xz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    background-attachment:fixed;
    padding-top: 50px;
    text-align: center;
    display: flex;
}
.container {
    display: flex;
    margin-top: 25px;
    padding: 30px;
}
.container .Feature {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.683);
    width: 25%;
    margin: 10px;
    padding-bottom: 20px;
    height: 250px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}
.container .Feature:hover {
    box-shadow: 3px 3px 10px rgb(209, 20, 209);
    transform: translateX(3px);
    background-color: rgb(65, 10, 214);

}

.container .Feature i{
    padding: 20px;
    font-size: 80px;
    color: #eee;
    
}

.container .Feature h3 {

    font-size: 50px;
    
}
.Feature p {
    font-size: 20px;
    
}




/****end feutures*****/